@tailwind base;

html {
  scroll-behavior: smooth;
}

html,
body,
#sapper {
  @apply h-full;
  @apply overflow-x-hidden;
}

body {
  @apply font-body;
  @apply leading-tight;
  @apply overflow-x-hidden;
  @apply max-w-full;
  background: linear-gradient(var(--primary), var(--secondary));
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  @apply font-heading;
  @apply leading-tight;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

button { 
  background: radial-gradient(128.2% 109.41% at 18.75% 15.91%, #00E0FF 0%, #00789E 100%);
  transition: all 0.3s linear;
  @apply shadow-xl;
  @apply text-white;
  @apply rounded-full;
  @apply px-5;
  @apply py-2;
}

button:hover {
  @apply shadow-sm;
}

button:focus {
  @apply shadow-outline;
}

@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --mint: #AEEADE;
  --light-blue: #E8F4F4;
  --medium-blue: #465881;
  --mint: #AEEADE;
  --caribbean: #00E0FF;
  --blue: #5FC7E4;
  --light-teal: #68D2C8;
  --teal: #00789E;
  --yellow: #E5A91E;
  --navy: #1B2A49;
  --gray: #333333;
  --black: #000000;
  
  --primary: var(--white);
  --secondary: var(--mint);
  --text-color: var(--teal);
}

[data-theme="dark"] {
  --primary: var(--medium-blue);
  --secondary: var(--navy);
  --text-color: var(--light-blue);
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}