@tailwind base;

html {
  scroll-behavior: smooth;
}

html,
body,
#sapper {
  @apply h-full;
  @apply overflow-x-hidden;
}

body {
  @apply font-body;
  @apply leading-tight;
  @apply overflow-x-hidden;
  @apply max-w-full;
  background: linear-gradient(var(--primary), var(--secondary));
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  @apply font-heading;
  @apply leading-tight;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

button { 
  background: radial-gradient(128.2% 109.41% at 18.75% 15.91%, #00E0FF 0%, #00789E 100%);
  transition: all 0.3s linear;
  @apply shadow-xl;
  @apply outline-none;
  @apply text-white;
  @apply rounded-full;
  @apply px-5;
  @apply py-2;
}

button:hover {
  @apply shadow-sm;
}

button:focus {
  @apply shadow-outline;
}

p {
  @apply text-2xl;
}

@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Quicksand';
  src: url('/fonts/quicksand.woff2') format('woff2');
}

@font-face{
  font-family: 'Pacifico';
  src: url('/fonts/pacifico.woff2') format('woff2');
}

:root {
  --white: #fff;
  --mint: #AEEADE;
  --light-blue: #E8F4F4;
  --medium-blue: #465881;
  --mint: #AEEADE;
  --caribbean: #00E0FF;
  --blue: #5FC7E4;
  --light-teal: #68D2C8;
  --teal: #036c8b;
  --yellow: #E5A91E;
  --navy: #1B2A49;
  --gray: #333333;
  --black: #000000;
  
  --primary: var(--white);
  --secondary: var(--mint);
  --text-color: var(--teal);
  --accent-color: var(--navy);
}

[data-theme="dark"] {
  --primary: var(--medium-blue);
  --secondary: var(--navy);
  --text-color: var(--light-blue);
  --accent-color: var(--yellow);
}

.bezier {
  transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95),
    -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.bezier:hover {
  transform: scale(1.1);
}


.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(33, 47, 79, 0.5);
}

.mobile-menu {
  background: linear-gradient(
      180deg,
      var(--medium-blue) 0%,
      var(--navy) 100%
    );
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
}
